#include <windows.h>
#include <Win32Resource.h>

ID_ASSERTDIALOG DIALOGEX 0, 0, 475, 261
STYLE DS_FIXEDSYS | DS_SETFOREGROUND | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_THICKFRAME
EXSTYLE WS_EX_TOPMOST | WS_EX_WINDOWEDGE
CAPTION "Assert"
LANGUAGE LANG_ENGLISH, 0x1
FONT 8, "MS Shell Dlg", 400, 0, 1
{
	CONTROL "Debug", IDC_DEBUG, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 322, 220, 69, 14
	CONTROL "I&gnore This Session", IDC_IGNOREALWAYS, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 322, 237, 69, 14
	CONTROL "Abort", IDC_ABORT, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 394, 220, 69, 14
	CONTROL "&Ignore Once", IDC_IGNOREONCE, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 394, 237, 69, 14
	CONTROL "", IDC_STACK, LISTBOX, LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | WS_CHILD | WS_VISIBLE | WS_VSCROLL, 60, 136, 404, 64, 0x00020000
	CONTROL "Static", IDC_REVISION, STATIC, SS_LEFT | SS_PATHELLIPSIS | WS_CHILD | WS_VISIBLE | WS_GROUP, 102, 124, 300, 8
	CONTROL "Static", IDC_MODULE, STATIC, SS_LEFT | SS_PATHELLIPSIS | WS_CHILD | WS_VISIBLE | WS_GROUP, 90, 114, 300, 8
	CONTROL "", IDC_MESSAGE, "RichEdit20A", ES_LEFT | ES_MULTILINE | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_VSCROLL, 60, 54, 404, 56, 0x00020000
	CONTROL "Static", IDC_EXPRESSION, STATIC, SS_LEFT | SS_PATHELLIPSIS | WS_CHILD | WS_VISIBLE | WS_GROUP | SS_NOPREFIX, 102, 42, 300, 8
	CONTROL "Static", IDC_FUNCTION, STATIC, SS_LEFT | SS_PATHELLIPSIS | WS_CHILD | WS_VISIBLE | WS_GROUP, 102, 30, 300, 8
	CONTROL "Static", IDC_LINE, STATIC, SS_LEFT | SS_PATHELLIPSIS | WS_CHILD | WS_VISIBLE | WS_GROUP, 102, 18, 182, 8
	CONTROL "Static", IDC_FILE, STATIC, SS_LEFT | SS_PATHELLIPSIS | WS_CHILD | WS_VISIBLE | WS_GROUP, 102, 6, 300, 8
	CONTROL "", IDC_OICON, STATIC, SS_ICON | WS_CHILD | WS_VISIBLE, 9, 7, 21, 20
	CONTROL "", IDC_STATUS_LINE, STATIC, SS_LEFT | SS_PATHELLIPSIS | WS_CHILD | WS_VISIBLE | WS_GROUP, 60, 203, 404, 12, 0x00020000
	CONTROL "Expression:", -1, STATIC, SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP, 60, 42, 38, 8
	CONTROL "Module:", IDC_MODULE_LABEL, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 60, 114, 28, 8
	CONTROL "Scope stack:", -1, STATIC, SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP, 1, 136, 55, 8
	CONTROL "File:", -1, STATIC, SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP, 60, 6, 14, 8
	CONTROL "Line:", -1, STATIC, SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP, 60, 18, 16, 8
	CONTROL "Function:", -1, STATIC, SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP, 60, 30, 31, 8
	CONTROL "Revision:", IDC_REVISION_LABEL, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 60, 124, 37, 8
}
